<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PS_Individual_License</key>
	<dict>
		<key>line_2</key>
		<string>The Cost of Monster</string>
		<key>line_1</key>
		<string>Purchase for $2.99?</string>
		<key>title</key>
		<string>Individual Subscription</string>
		<key>icon</key>
		<string>monster_can</string>
	</dict>
</dict>
</plist>
