<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documents</key>
	<array>
		<dict>
			<key>type</key>
			<string>form</string>
			<key>form_type</key>
			<string>da31</string>
			<key>name</key>
			<string>DA 31</string>
			<key>icon</key>
			<string>icon_form</string>
		</dict>
	</array>
</dict>
</plist>
